VnetPhotoManager.Web/VnetPhotoManager.Web/Web References/vnetauthenticationservice/AuthenticationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthenticationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://vnetauthenticationservice.azurewebsites.net/AuthenticationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://vnetauthenticationservice.azurewebsites.net/AuthenticationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://vnetauthenticationservice.azurewebsites.net/AuthenticationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AuthenticationService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthenticationService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_CustomValidateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomValidateUser" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_CustomValidateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomValidateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthenticationService">
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/CreateUser" message="tns:IAuthenticationService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/CreateUserResponse" message="tns:IAuthenticationService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomValidateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/CustomValidateUser" message="tns:IAuthenticationService_CustomValidateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/CustomValidateUserResponse" message="tns:IAuthenticationService_CustomValidateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/GetDataUsingDataContract" message="tns:IAuthenticationService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/GetDataUsingDataContractResponse" message="tns:IAuthenticationService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthenticationService" type="tns:IAuthenticationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationService/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomValidateUser">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationService/CustomValidateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthenticationService">
    <wsdl:port name="BasicHttpBinding_IAuthenticationService" binding="tns:BasicHttpBinding_IAuthenticationService">
      <soap:address location="http://vnetauthenticationservice.azurewebsites.net/AuthenticationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>